body {
    background-image: url("../images/round.png");
    background-repeat: repeat;
}

h1 {
    color: #fff;
    font-weight: bold;
}

.box {
    border-radius: 10px;
    border: 2px solid gray;
}

#title {
    background-color: orange;
    padding: 20px;
}

#instructions {
    background-color: peachpuff;
    padding: 40px 10px 40px 10px;
}

#numberToWin {
    background-color: #78c586;
    height: 150px;
    padding-left: 5px;
}

#wins-counter {
    background-color: aquamarine;
    padding: 10px;
    height: 150px;
}

.scorebox {
    background-color: #519f94;
}

#crystals {
    background-color: white;
    text-align: center;
}

.crystal-image {
    margin: 0px 10px 0px 10px;
    width: 100px;
    height: 100px;
}

#randomNumber {
    color: #6e6388;
    font-size: 36px;
    font-weight: bold;
}

#score-title {
    color: #fff;
    margin: 5px;
}

#totalScore {
    font-size: 36px;
    color: #fff;
    height: 150px;
    padding-left: 5px;
}

.main-content {
    width: 640px;
    margin: 0 auto;
}